{% extends 'base.html' %}
{% block content %}
      <div class="container text-center">
        <div class="row">
            <div class="col">
            Objective <br> <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida metus tortor, ut interdum nulla posuere nec. 
            Mauris vel imperdiet nunc. Suspendisse consectetur felis vitae lacus porttitor tristique. Aenean pharetra.
            </div>
            <div class="col">
            Description <br> <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida metus tortor, ut interdum nulla posuere nec. 
            Mauris vel imperdiet nunc. Suspendisse consectetur felis vitae lacus porttitor tristique. Aenean pharetra.
            </div>
            <div class="col">
            Libraries <br> <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida metus tortor, ut interdum nulla posuere nec. 
            Mauris vel imperdiet nunc. Suspendisse consectetur felis vitae lacus porttitor tristique. Aenean pharetra.
            </div>
            <div class="col">
            Approaches <br> <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida metus tortor, ut interdum nulla posuere nec. 
            Mauris vel imperdiet nunc. Suspendisse consectetur felis vitae lacus porttitor tristique. Aenean pharetra. 
            </div>
        </div>
    </div>
    
{% endblock %}